/* image list*/
@import "../shared/mixins";
@import "../../../../css/colors";

.image-list__images {
  @include image-card-grid;
  list-style: none;
  margin: 0;
  padding: 0;
}

.image-list__item-wrapper {
  @include image-card;
}

.image-list__item {
  @include image-card--inner;
}

.image-list__action {
  border: 0;
  background-color: transparent;
  color: inherit;
  cursor: pointer;
  height: 100%;
  padding: 0;
  margin: 0 0 0 6px;

  display: flex;
  justify-content: center;
  align-items: center;

  ion-icon {
    font-size: 22px;
  }
}

.image-list__image {
  @include image-card-image;
  margin-bottom: 20px;
}

.image-list__name {
  padding-top: 10px;
  padding-bottom: 5px;
  color: inherit;
  font-weight: bold;
  text-align: center;
  text-transform: uppercase;
}

.image-list__item-header {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  color: $gray-4a;
  height: 31px;
  border-bottom: 1px solid $gray-cc;
}

.image-list__info {
  @include justified-flex-row;
}
.image-list__info__label {
  @include flex-row-label;
}
.image-list__info__value {
  @include flex-row-value;
}
