export AWS_ACCESS_KEY_ID=aws access key
export AWS_SECRET_ACCESS_KEY=aws secret
export S3_REGION=s3 region (like us-east-1)
export S3_BUCKET=s3 bucket (bunnymatic_dev)
export BASIC_AUTH_USER=basic auth username
export BASIC_AUTH_PASS=basic auth password
